# Web Dashboard & Microservice Serving
streamlit>=1.36.0
plotly>=5.22.0
pydeck>=0.9.1
pandas>=2.2.0
numpy>=1.26.0
fastapi>=0.111.0
uvicorn>=0.30.0
pydantic>=2.7.0
python-dotenv>=1.0.1
faker>=22.0.0
pytz>=2024.1
